<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View algo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">

    <h1>Selected algo </h1>
    <div class="alert alert-primary" role="alert"> {{ algo }}</div>
  
    {% if algo == "aes" %}
    <p> Advanced Encryption Standard (AES) - symmetric type of encryption, as it uses the same key to both encrypt and decrypt data </p>
    {% elif algo == "rsa" %}
    <p> Rivest–Shamir–Adleman (RSA)- a public-key encryption asymmetric algorithm and the standard for encrypting information transmitted via the internet. </p>
    {% elif algo == "des" %}
    <p>  Data Encryption Standard (DES) - symmetric-key algorithm for the encryption of digital data </p>
    {% elif algo == "blowfish" %}
    <p> Symmetric block cipher algorithm and it encrypts the block information of 64-bits at a time </p>
    {% else %}
    No {{ algo }} sproducts available.
    {% endif %}

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>